.lp_body {
    margin: 0 !important;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.lp_img {
    background-image: url("../images/book_autumn.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 30px 5px black inset;
}

.title_col {
    padding: 0 !important;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    box-shadow: 0 0 150px 50px rgba(114, 61, 0, 0.5) inset;
    position: relative;
}

.title_col::before {
    content: '';
    background-image: url("../images/paper.jpg");
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
    text-align: center;
    isolation: isolate;
}

.lp_welcome {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 2rem;
    font-size: 1rem;
}

.lp_logo {
    width: fit-content;
    animation: fadeIn;
    animation-duration: 3s;
}

.lp_logo h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4.5rem;
    padding: 0.3rem 1.25rem;
    border-top: 4px double black;
    border-bottom: 4px double black;
}

.title_container .btns {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.title_container .register_btn {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 30px;
    color: black;
    width: 8rem;
    font-size: 1.1rem;
}

@media (min-width: 280px) {
    .lp_welcome {
        font-size: 1rem;
        height: 2.5rem;
    }

    .lp_logo h1 {
        font-size: 3.5rem;
    }

    .title_container .register_btn {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    .lp_welcome {
        font-size: 1.5rem;
        height: 3rem;
    }

    .lp_logo h1 {
        font-size: 6.75rem;
    }

    .title_container .register_btn {
        font-size: 1.65rem;
        width: 10.5rem;
        height: 4.5rem;
    }
}

@media (min-width: 1024px) {
    .lp_welcome {
        font-size: 1.2rem;
        height: 2.4rem;
    }

    .lp_logo h1 {
        font-size: 5.4rem;
    }

    .title_container .register_btn {
        font-size: 1.32rem;
        width: 8.4rem;
        height: 3.2rem;
    }
}

@media (min-width: 1280px) {
    .lp_welcome {
        font-size: 1.5rem;
        height: 3rem;
    }

    .lp_logo h1 {
        font-size: 6.75rem;
    }

    .title_container .register_btn {
        font-size: 1.65rem;
        width: 10.5rem;
        height: 4rem;
    }
}

@media (min-width: 1281px) {
    .lp_welcome {
        font-size: 2.25rem;
        height: 4.5rem;
    }

    .lp_logo h1 {
        font-size: 10.13rem;
    }

    .title_container .register_btn {
        font-size: 2.47rem;
        width: 15.75rem;
        height: 5.5rem;
        border-radius: 60px;
        height: auto;
    }
}