.nav_logo h1 {
    font-family: 'Fredericka the Great', cursive; 
    font-size: 3rem;
    padding: 0.3rem 1.25rem;
    border-top: 4px double black;
    border-bottom: 4px double black;
  }
.nav_logo {
  margin-top: 0.5rem;
  }
  .navbar-toggler-icon{
    background-image: url('https://api.iconify.design/material-symbols/menu-book.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .logo_body {
    background-color: blanchedalmond;
    /* border: 10px double black; */
  }
  #offcanvasNavbar-expand-md {
    width: 80vw
  }